@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.curser-pointer{
    cursor: pointer;
}
.head-section{
    background-image: url(./img/h5-bg-slider1.jpg);
    background-size: cover;
    width: 100%;
    height: 150vh;
}
#btn{
    background-color:#5FA232 ;
}
.icon-style{
    background-color: #AFD199;
    cursor: pointer;
}
.icon-style:hover{
    background-color: #fff;
}
.login-btn:hover{
    background-color: #50882A;
}
#Organ{
    color: #FF6924;
}
.Always{
    margin-top: 100px !important;

}
.Always h1{
    font-size: 70px !important;
    font-weight: 700;
}
.shop-btn{
    background-color: #ff6924 !important;
}
.shop-btn:hover{
    background-color: rgb(44, 196, 44) !important;;
}
.about{
    background: none !important;;
    color: white !important;
    border: 2px solid rgb(35, 230, 61) !important;;
}
.about:hover{
    background: rgb(35, 230, 61)!important;;
    color: white !important;
}
.our-job{
    font-family: "Barlow", sans-serif;
}
.special{
    font-size: 60px !important;
    color: #010148;
}
.great{
    margin: 10px 120px !important;
    background-color: #16cc25;
    padding: 1px !important;
}
.learn-m{
    color: #010148;
    border: 2px solid rgb(35, 230, 61) !important;;
}
.learn-m:hover{
    background-color: #FF6924 !important;
    border: none !important;;
    color: white !important;
}
.support:hover{
    box-shadow: 0 35px 46px rgba(1, 1, 72, .1);}
.arrow{
    border: 2px solid #FF6924;
    cursor: pointer;
}
.arrow:hover{
    background-color: #FF6924;
    color: white;
}
.card-1{
    cursor: pointer;
}
.start-bg{
    background-image: url(./img/h5-bg-cta1.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
}
.Add-cart{
    background-color: #FF6924;
}
.countdown{
    background-image: url(./img/h5-bg-countdown1.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.deal-week{
    padding-top: 200px;
}
.days{
    border: 2px dashed white !important;;
}
.anderson{
    color: #010148!important; 
    background-color: #ebebeb !important;
}
.dot-1{
    color: #FF6924!important;
    border: 2px solid #010148!important;
}
.aliesha{
    margin-top: 100px !important;
}
.best-guide{
    color: #010148;
}
.last-bg-img{
    background-image: url(./img/h5-bg-footer.jpg);
    background-size: cover;
    width: 100%;
    height: 80vh;
}
.face-icon:hover{
    color: white !important;;
background-color: #5FA232!important;
}
